
<div class="container">
<div id="notice"></div>
<h1 style="color:#eee;">Suscribete a nuestros contenidos sin necesidad de ser usuario <%= link_to "livingchannel.org", root_path %></h1>
<div class="span10">
    <div class="span11" style="padding:10px; background:# ;margin-left:-15px;"><iframe src="http://player.vimeo.com/video/70261739?title=0&amp;byline=0&amp;portrait=0&amp;color=0f9ca8&amp;autoplay=1" width="853" height="480" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/70261739">¿Que nos depara el futuro?</a> from <a href="http://vimeo.com/user8550540">livingchannel.org</a> on <a href="https://vimeo.com">Vimeo</a>.</p> <%= render partial: 'suscribers/form'%></div>
</div>
</div>
