<div class="container">
 <div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav pull-left" ><li><%= link_to "facebook", "http://www.facebook.com/pages/Iglesia-del-Dios-Viviente-El-Mundo-de-Ma%C3%B1ana/169969469746416", :class => "brand", :target => '_blank'%></li></ul>
      <ul class="nav pull-left" ><li><%= link_to "twitter", "https://twitter.com/Idv14", :class => "brand", :target => '_blank'%></li></ul>
      <ul class="nav pull-right">
               <li class="divider-vertical">
                 <%#= link_to "<< Desarrollado por >>", "http://alfredoreyes.me", :target => '_blank' %></li
      </ul>	 

  	</div>    
    </div>
   </div>
  </div>
</div>