<div class="btn-group" id="suscrip_btn_nav">
  <% if suscript_to_course != nil%>
  <a class="btn" href="<%= curso_path%>">Cúrso</a>
  <%end%>
  <% if suscript_to_magazine != nil%>
  <a class="btn" href="<%= revista_path %>">Revista</a>
  <%end%>
</div>