<div class="container">
 <div class="navbar navbar-inverse max-width(940px;)">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav pull-left" style="margin-left:-20px;" ><%= link_to image_tag('logomini.jpg'), root_path %></ul><ul class="nav pull-left" ><%= link_to "Iglesia del Dios Viviente", root_path, :class => "brand"%></ul>
                                  
      <ul class="nav pull-right">
          
       <%= link_to "Ingresar", new_user_session_path, :class => "brand"%>
      </ul>	 

  	</div>    
    </div>
   </div>
  </div>
</div>


