<div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li ><%= link_to "Vídeos México", video_mexico_path%></li>
          <li ><%= link_to "Vídeos Colombia", video_colombian_path%></li>
          <li ><%= link_to "Vídeos Puerto Rico", video_puerto_rico_path%></li>
        </ul>
</div>