<h2>Curso</h2>
<center>
    <h4>Muy pronto podrás disfrutar de nuestro cursó bíblico</h4>
        <%= image_tag('build.png')%>
        <pre style="width:300px"> Lanzamiento 30 de junio 2013 </pre>
</center>