<h2>Iglesia del Dios Viviente</h2>
<h3>Columna y Baluarte de la Verdad</h3></br></br>
<div id="notice"></div>
<div class="container">
<iframe src="http://player.vimeo.com/video/70261739?title=0&amp;byline=0&amp;portrait=0&amp;color=0f9ca8&amp;autoplay=1" width="100%" height="480" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/70261739">¿Que nos depara el futuro?</a> from <a href="http://vimeo.com/user8550540">livingchannel.org</a> on <a href="https://vimeo.com">Vimeo</a>.</p> <%= render partial: 'suscribers/form'%>
</div>
<p style="text-align:justify; text-justify:inter-word; font-size:18px; line-height: 2; text-shadow: #777676 0.1em 0.1em 0.2em"><i>La Iglesia del Dios Viviente</i> remonta su origen hasta la Iglesia que fue fundada en Jerusalén en la era apostólica. Seguimos las mismas enseñanzas, doctrinas y prácticas establecidas entonces.</br></br> El Sr. Roderick C. Meredith, quien preside en la Iglesia, fue uno de los primeros evangelistas que ordenó, en diciembre de 1952, el ya fallecido Sr. Herbert W. Armstrong . Durante más de medio siglo el Sr. Meredith ha proclamado la verdad de Dios predicando el evangelio del Reino con poder a millones de personas mediante sus mensajes, muchos folletos y centenares de artículos por él escritos. La Iglesia del Dios Viviente lleva a cabo una obra mundial. </br></br> Además de las transmisiones de radio y televisión en inglés del Sr. Meredith y del evangelista Sr. Richard Ames, la Iglesia patrocina programas en francés y en castellano con el Sr. Mario Hernández. Es importante que todos nuestros amables lectores comprendan plenamente que quienes estamos en esta obra, quienes estamos a cargo de la producción de las revistas, del programa de televisión y radio El Mundo de Mañana, y todos los que en alguna forma tomamos parte de la obra de la Iglesia del Dios Viviente, estamos totalmente dedicados a la tarea de ¡restaurar el cristianismo original!.</br></br>
    <center style="padding:15px;">
        <%= image_tag('logo.jpeg')%>
    </center>
</p>
