<h2>Iglesia del Dios Viviente</h2>
<h3>Columna y Baluarte de la Verdad</h3>
<p style="text-align:justify; text-justify:inter-word;">La Iglesia del Dios Viviente remonta su origen hasta la Iglesia que fue fundada en Jerusalén en la era apostólica. Seguimos las mismas enseñanzas, doctrinas y prácticas establecidas entonces. El Sr. Roderick C. Meredith, quien preside en la Iglesia, fue uno de los primeros evangelistas que ordenó, en diciembre de 1952, el ya fallecido Sr. Herbert W. Armstrong . Durante más de medio siglo el Sr. Meredith ha proclamado la verdad de Dios predicando el evangelio del Reino con poder a millones de personas mediante sus mensajes, muchos folletos y centenares de artículos por él escritos. La Iglesia del Dios Viviente lleva a cabo una obra mundial. Además de las transmisiones de radio y televisión en inglés del Sr. Meredith y del evangelista Sr. Richard Ames, la Iglesia patrocina programas en francés y en castellano con el Sr. Mario Hernández. Es importante que todos nuestros amables lectores comprendan plenamente que quienes estamos en esta obra, quienes estamos a cargo de la producción de las revistas, del programa de televisión y radio El Mundo de Mañana, y todos los que en alguna forma tomamos parte de la obra de la Iglesia del Dios Viviente, estamos totalmente dedicados a la tarea de ¡restaurar el cristianismo original!.
    <center style="padding:15px;">
        <%= image_tag('logo.jpeg')%>
    </center>
</p>
