<h2>Servicios en vivo Puerto Rico <div class="pull-right">Miembros: <%= members %></div></h2>
<pre>Servicios en vivo de la iglesia del Dios Viviente todos los Sabados 12:00 pm hora de Puerto Rico</pre>
<center>
<iframe src="http://cdn.livestream.com/embed/livingchurchpr?layout=3&autoPlay=false&width=924&height=351" width="924" height="351" style="border:0;outline:0" frameborder=0 scrolling=no></iframe>
</center>
