<h1>Servicios en vivo</h1>
<pre>Servicios en vivo de la iglesia del Dios Viviente todos los Sabados 12:00 pm hora de México</pre>
<center>
<iframe src="http://cdn.livestream.com/embed/livingchurch?layout=3&autoPlay=false&width=924&height=351" width="924" height="451" style="border:0;outline:0" frameborder=0 scrolling=no></iframe>
</center>