<h1>Videoteca <div class="pull-right">Miembros: <%= members %></div></h1>
<pre> Videos sermones y material para estudios bíblicos</pre>
<div class="container">
<div class="span4">
<%= render partial: "shared/videoteca_menu"%>
</div>
<div class="span7 bak-video">
<iframe src="http://player.vimeo.com/video/63213361" width="540" height="297" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/63213361">¿Puede confiar en la profecía bíblica?</a> from <a href="http://vimeo.com/user8550540">Living Church of God</a> on <a href="http://vimeo.com">Vimeo</a>.</p> <p>M&aacute;s de una cuarta parte de su Biblia es profec&iacute;a. Profec&iacute;a que revela el futuro. &iquest;Puede usted confiar en la profec&iacute;a b&iacute;blica? La mayor&iacute;a de los estudiantes b&iacute;blicos se dan cuenta que estamos viviendo en los tiempos postreros. Mientras experimentamos desastres record y crisis global; muchos se preguntan &iquest;Estamos llegando al final de la civilizaci&oacute;n? En diciembre del 2004 el sismo de Sumatra de 9.1 de magnitud y el resultante Tsunami mataron a m&aacute;s de 280,000 arrasando el sur de Asia.</p></center>
</div>
</div>