<h2>Videoteca de México<div class="pull-right">Miembros: <%= members %></div></h2>
<pre> Videos sermones y material para estudios bíblicos</pre>
<div class="container">
<div class="span4">
<%= render partial: "shared/videoteca_menu"%>
</div>
<center>
<div class="span7 bak-video">

<iframe width="540" height="350" src="http://cdn.livestream.com/embed/livingchurch?layout=5&browseMode=true&height=310&width=640" style="border:0;outline:0" frameborder="0" scrolling="no"></iframe><div style="font-size: 11px;padding-top:10px;text-align:center;width:640px">Watch <a href=http://www.livestream.com/?utm_source=lsplayer&amp;utm_medium=embed&amp;utm_campaign=footerlinks title=live streaming video>live streaming video</a> from <a href=http://www.livestream.com/livingchurch?utm_source=lsplayer&amp;utm_medium=embed&amp;utm_campaign=footerlinks title=Watch livingchurch at livestream.com>livingchurch</a> at livestream.com</div>
<center>
</div>
</div>