<div class="container">
  <p>  Esta página fue desarrollada sin fines de lucro en tecnologías abiertas Ruby on Rails, Html5, CSS3 y Jquery; este desarrollo fue hecho con apoyo de un <%= link_to "Desarrollador", "http://alfredoreyes.me", :target => '_blank'%>, el cual acepta que la propiedad del material en el interior del sitio es de Living Church of God</p>
       <center>
           <div class="span5 circle" style="padding:10px;">
           </div>
       </center>
</div>
</div>