// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bak-video{
    background-color:#EAF4F3;
    
    & p {
        padding:10px;
        text-align : justify;
    }
}
.form_video{
     background-color:#EBEDC5;
     padding:10px; 
     margin-bottom:20px;
     margin-left:0px;
     margin-top:-10px;
     width:920px;
}
