<style>
  h1{
      font-size:18px;
      color:#06776B;
  }
  p{
      color:#06776B;
      font-size:13px;
      
  }
  
</style>
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

    <h1> ¡ Hola <%= @user.email %> !</h1></br> 
    <p><%= @message.html_safe %></p></br>    
   </body>
</html>