<style>
  h1{
      font-size:18px;
      color:#06776B;
  }
  p{
      color:#06776B;
      font-size:13px;
      
  }
  
</style>
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

    <h1>Notificación de <%= link_to "Iglesia del Dios Viviente", "http://livingchannel.org"%> petición para <%=  @user_admin.email %></h1></br>
    <p><b>El usuario <%= @user.email %> se ha suscrito a:</b><%=@type%></p>
    
   </body>
</html>